<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 테스트 위해 잠시 시큐리티 지움 -->
	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value> 
		classpath:applicationcontext.xml</param-value> </context-param> -->

	<!-- 루트컨테이너 정보를 설정 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:security-context.xml
			classpath:applicationcontext.xml</param-value>
	</context-param>



	<!-- 루트컨테이너 생성 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>


	<!-- jsp에서 하던 그 서블릿 매핑 시작 -->

	<!-- jsp에서 하던 그 서블릿이 처리할 내용 클래스 디파인 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/presentation-layer.xml</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.spring.finall.config.AdminConfig</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- jsp에서 하던 그 서블릿이 처리할 내용 클래스 디파인 종료 -->


	<!-- jsp에서 하던 그 서블릿 경로 디파인 -->
	<!-- 주의 하라 서블릿 매핑은 .do 이고 이제 시큐리티는 .do 필요없음 -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- jsp에서 하던 그 서블릿 경로 디파인종료 -->

	<!-- jsp에서 하던 그 서블릿 매핑 종료 -->

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>


<!-- 주의 하라 서블릿 매핑은 .do 이고 이제 시큐리티는 .do 필요없음 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- jpa 관련 무언가 의 데이터를  컨트롤러  ~ 뷰까지  까지 데이터 유지 해줌
없으면 아래 오류 키워드 뜸
WARN : org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver - Resolved 
could not initialize proxy - no Session
-->
 <filter>
	<filter-name>OpenEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
</filter>

<filter-mapping>
	<filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping> 
	<!-- 리스너 테스트용임 -->
	<!-- <listener> <listener-class>com.spring.finall.listen.TestListen</listener-class> 
		</listener> -->


</web-app>
